<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 - 2022 FireGento e.V. - All rights reserved.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fastsimpleimport>
            <default>
                <ignore_duplicates>0</ignore_duplicates>
                <behavior>append</behavior>
                <entity>catalog_product</entity>
                <validation_strategy>validation-stop-on-errors</validation_strategy>
                <allowed_error_count>10</allowed_error_count>
            </default>
        </fastsimpleimport>
    </default>
</config>
